body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 4.5rem;
    line-height: 1em;
    font-weight: 9em;
}
h2{
    font-size: 3.6em;
    font-weight: 900;
}
h3{
    font-size: 1.6em;
    font-weight: 900;
}
p{
    font-size: 1.3em;
    color: rgb(61, 60, 60);
}
section{
    height: 100vh;
    padding-bottom: 80px;
}
.first-section{
    background-image: url("./images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 4% 2%;
}
.half-width img{
    width: 80%;
}
.name-highlight{
    color: rgb(255, 136, 0);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 25px;
    color: white;
    font-size: 1.4rem;
    font-weight: 900;
    border-radius: 10px;
}

.dream-section{
    background-image: url("./images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.exp-section{
    background-image: url("./images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.single-experience{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 0 1vw;
    box-shadow: 1px 1px 30px gray;
    height: 68vh;
    border-left: 9px solid;
}
.single-experience h2{
    font-size: 3rem;
}
.single-experience h3{
    font-size: 1.4rem;
}
.single-experience h2{
    font-size: 3rem;
}
.single-experience p{
    font-size: 1.2rem;
}
#full-stack{
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-image: linear-gradient(180deg, rgb(0, 238, 255), rgb(17, 0, 255));
    border-image-slice: 1;
}

footer{
    text-align: center;
    color: dimgrey;
}