body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    color: aliceblue;
}
h1{
    font-size: 50px;
    font-weight: 900;
}
h2{
    font-size: 40px;
    font-weight: 900;
}
h3{
    font-size: 25px;
    font-weight: 900;
}
p{
    font-size: 19px;
    /* color: rgb(61, 60, 60); */
}
section{
    height: 100vh;
    padding-bottom: 80px;
}
.first-section{
    /* background-image: url("./images/top-banner.png");
    background-repeat: no-repeat; */
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 4% 2%;
}
.half-width img{
    width: 80%;
}
.name-highlight{
    color: rgb(255, 136, 0);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 25px;
    color: white;
    font-size: 1.4rem;
    font-weight: 900;
    border-radius: 10px;
}

.dream-section{
    background-image: url("./images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.exp-section{
    background-image: url("./images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 2vw;
}
.single-experience{
    width: 37%;
    height: 60vh;
    float: left;
    margin-left: 5%;
    padding: 1vh 1vw;
    box-shadow: 1px 1px 30px whitesmoke;
    border-left: 9px solid;
    border-radius: 5px;
    margin-top: 10vh ;
}
.single-experience h2{
    font-size: 35px;
}
.single-experience h3{
    font-size: 20px;
}
.single-experience p{
    font-size: 15px;
}
#full-stack{
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-image: linear-gradient(180deg, rgb(0, 238, 255), rgb(17, 0, 255));
    border-image-slice: 1;
}

footer{
    text-align: center;
    color:whitesmoke;
}